{% extends "base.html" %} {% block main %}
<div class="container">
    <div class="row">
        <table class="table table-striped">
			<thead>
				<th>id</th>
				<th>name</th>
				<th>no</th>
				<th>date</th>
				<th>high</th>
				<th>low</th>
				<th>open</th>
				<th>close</th>
			</thead>
			<tbody>
			{% for st in stocks %}
			<tr>
				<td>{{st.id}}</td>
				<td>{{st.name}}</td>
				<td>{{st.no}}</td>
				<td>{{st.date}}</td>
				<td>{{st.high}}</td>
				<td>{{st.low}}</td>
				<td>{{st.open}}</td>
				<td>{{st.close}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
    </div>
</div>
{% endblock %}